@page

<div>
    <h1>Tela de atualizar a equipe</h1>

    @* Formulário de cadastro de equipes *@
    <form method="PUT" asp-action="AtualizarEquipe" asp-controller="Equipe">
        <input type="hidden" name="Id" value="@ViewBag.Equipe.Id">
        <div class="form-control">
            <label for="Nome">Nome da equipe</label>
            <input type="text" name="Nome" value="@ViewBag.Equipe.Nome">
        </div>

        <div class="form-control">
            <label for="imagem">Imagem da equipe</label>
            <input type="text" name="Imagem" value="@ViewBag.Equipe.Imagem">
        </div>

        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
</div>